@{
    ViewData["Title"] = "Home Page";
}
<script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
<script src="@Url.Content("~/lib/knockout/dist/knockout.js")"></script>
<script src="@Url.Content("~/lib/knockout/dist/knockout.simpleGrid.3.0.js")"></script>
<script src="@Url.Content("~/js/Refresh.js")"></script>
<link href="~/css/gird.css" rel="stylesheet" />

<h2>@ViewData["Title"].</h2>
<div style="padding:10px">
    <div>
        Product Name:<br>
        <input type="text" id="txtProductName" name="txtProductName" data-bind="value:Product.name" />
    </div>
    <div>
        Sales Count:<br>
        <input type="text" id="txtSalesCount" name="txtSalesCount" data-bind="value:Product.sales" />
    </div>
    <div>
        Price:<br>
        <input type="text" id="txtFullName" name="txtFullName" data-bind="value:Product.price" />
    </div>
    <br>
    <button data-bind='click: addItem'>
        Add Product
    </button>
    <br>
</div>
<div data-bind='simpleGrid: gridViewModel'> </div>
<button data-bind='click: sortByName'>
    Sort By Name
</button>
<button data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
    First Page
</button>


